
	<!-- Hero(extended) navbar -->
	<div class="navbar">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<div class="navbar__logo"><b>Selfit</b></div>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title">Profit from your Passion</h1>
						<p class="hero__text">Take your expertise online and create a sustainable income source.</p>
						<!-- <a href="#" class="button button__accent">Download Selfit</a> -->
						<a href="#idlandingSection" class="button hero__button">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<div id="idlandingSection" class="steps landing__section">
		<div class="container">
			<h2>How does it work?</h2>
			<p>Here's who we can think of, but surely creative people will surprise us.</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="./assets/img/undraw_designer.svg" class="step__image">
					</div>
					<h4>Create Membership Tiers</h4>
					<p class="step__text">Multiple tiers, discrete benefits - Enable different groups of members to access relevant content and benefits.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./assets/img/undraw_responsive.svg" class="step__image">
					</div>
					<h4>Publish Content</h4>
					<p class="step__text">Audio, video, files - Assign member-only content to a specific membership plan. Deliver all your content at once or drip-feed it.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./assets/img/undraw_creation.svg" class="step__image">
					</div>
					<h4>Process Payments</h4>
					<p class="step__text">Stripe and Bitcoin - Easily process recurring payments from your subscribers. Optimize your process with Google Analytics and other integrated reporting tools.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./assets/img/undraw_browser.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Consistent, recurring income.</h2>
					<p class="expanded__text">Put an end to hit-or-miss ad revenues and per-stream payouts. Create, manage and track membership subscriptions.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./assets/img/undraw_frameworks.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Your content, your way.</h2>
					<p class="expanded__text">Own your content and the process. Create what you want, when you want..</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./assets/img/together.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Connect with your fans.</h2>
					<p class="expanded__text">Engage with your fans. Be part of a community fueled by the same passion.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
	<div class="cta cta--reverse">
		<div class="container">
				<input #email type="email" name="email" tabindex="-1"  
				placeholder="Email address" />
				<input  type="submit" (click)="Subscribe(email.value)" value="Sign Up" name="Sign Up" id="mc-embedded-subscribe" 
				class="button button__accent" />
		</div>
		<div>
			<label *ngIf="enabled" class="message">Thank you for Signup.</label>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a href="index.html" class="footer__textLogo">Selfit</a>
				<div class="footer__data">
					<div class="footer__data__item">
						<div class="footer__row">Copyright © 2020 Selfit. All rights reserved.</div>
					</div>
					<div class="footer__data__item">
					<!-- <div class="footer__row">
						<a href="https://github.com/anges244/Selfit" target="_blank" class="footer__link">GitHub</a>
					</div>
					<div class="footer__row">
						<a href="https://twitter.com/undraw_co" target="_blank" class="footer__link">Twitter</a>
					</div>
					<div class="footer__row">
						<a href="https://www.facebook.com/undraw.co/" target="_blank" class="footer__link">Facebook</a>
					</div>
					<div class="footer__row">
						<a href="./additional.html" class="footer__link">MIT license</a>
					</div> -->
				</div>
			</div>
		</div>
	</div>

